@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-weight: 600;
}

.heroSection {
  height: 100vh;
  background-image: url(/images/GT-town-header-bg.png);
}
